{% extends "base.html.twig" %}

{% block title %}MediaPhoto - Mon Compte{% endblock %}

{% block body %}


<div id="mySidenav" class="sidenav">
  <a href="/mon-compte">Compte</a>
  <a href="/mon-compte/mes-galeries">Galeries</a>
  <a href="/logout">Déconnexion</a>
</div>

<div class="container-account">

</div>



{% endblock %}