{% extends "base.html.twig" %}

{% block title %}MediaPhoto - Connection{% endblock %}

{% block body %}
    <div class="container-connection">
        <h1>Connexion</h1>
        <div class="email">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Saississez votre e-mail" size="40">
        </div>
        <div class="password">
            <label for="password">Mot de passe</label>
            <input type="password" id="password" name="password" placeholder="Saississez votre mot de passe" size="40">
        </div>
        <div class="login-btn">
            <a href="/signUp"> Se connecter</a>
        </div>
        <div class="or-signup">
            <h3>Pas de compte ?</h3>
            <a href="/signIn">Créer un compte</a>
        </div>
    </div>
{% endblock %}