{% extends "base.html.twig" %}

{% block title %}MediaPhoto - Inscription{% endblock %}

{% block body %}
    <div class="container-connection">
        <h1>Inscription</h1>
        <form action="/signIn/createUser" method="POST">
            <div class="email">
                <label for="pseudo">Pseudo</label> <span class="erreurPseudo"></span>
                <input type="text" id="email" name="pseudo" placeholder="Saississez votre pseudo" size="40">
                {% if erreurPseudo != "" %}
                    <span class="erreurPseudo">{{erreurPseudo}}</span>
                {% endif %}
            </div>
            <div class="email">
                <label for="adresseMail">Email</label>
                <input type="text" id="email" name="mail" placeholder="Saississez votre e-mail" size="40">
                {% if erreurMail != "" %}
                    <span class="erreurMail">{{erreurMail}}</span>
                {% endif %}
            </div>
            <div class="password">
                <label for="password">Mot de passe</label><span class="erreurPassword"></span>
                <input type="password" id="password" name="password" placeholder="Saississez votre mot de passe" size="40">
                {% if erreurMdp != "" %}
                    <span class="erreurMdp">{{erreurMdp}}</span>
                {% endif %}
            </div>
            <div class="password">
                <label for="passwordVerif">Confirmez votre mot de passe : </label> <span class="erreurPasswordVerif"></span>
                <input type="password" id="password" name="passwordVerif" placeholder="Confirmez votre mot de passe" size="40">
                {% if erreurVerifMdp != "" %}
                    <span class="erreurVerifMdp">{{erreurVerifMdp}}</span>
                {% endif %}
            </div>
            <div class="login-btn">
                <input type="submit" value="S'inscrire">
            </div>
        </form>
    </div>
{% endblock %}