@import '_variables';

.search-bar {
    text-align: center;
    margin-top: 38px;
    margin-bottom: 35px;   
}

.cancelSort {
    font-style: italic;
}

.galery-info-container {
    text-align: center;
    display:flex;
    flex-direction: column;
    margin-top: 50px;

    span {
        font-size: 0.8em;
        font-style: italic;
        opacity: 65%;
    }

    p {
        margin-top:20px;
    }

}

.gallery-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
    margin: 5px;
    margin-top:15px;

    &>.img-gallery-grid,a {
        max-width: calc((100vw - 10%) / 2);
        margin-left: auto;
        margin-right: auto;

        &>img {
            display: block;
            width: 100%;
            height: auto;
            border: 5px solid $item-bg-color;
            border-radius: 20px;
        }

        &>p {
            padding-left: 10px;
        }
    }
    
}

@media screen and (min-width: 750px) {
    .gallery-container {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (min-width: 1025px) {
    .gallery-container {
        grid-template-columns: repeat(7, 1fr);
    }
}