{% extends "base.html.twig" %}

{% block title %}MediaPhoto - CreateGallery{% endblock %}

{% block body %}

    <div class="container-create-gallery">
        <h1>Créer une galerie</h1>
        <form action="/new-gallery/create" method="POST">
        <div class="titre-create-gallery">
            <label for="titre">Titre</label><span class="erreurTitreGallery"></span>
            <input type="text" id="titre" name="titre" placeholder="Saississez un titre" size="25">

            {% if errorGallery != "" %}
                    <span class="erreurTitreGallery">{{errorGallery}}</span>
            {% endif %}
        </div>
        <div class="description-create-gallery">
            <label for="description">Description</label><span class="erreurDescriptionGallery"></span>
            <textarea id="description" name="description" rows="5" cols="25"> </textarea>

            {% if errorGallery != "" %}
                    <span class="erreurDescriptionGallery">{{errorGallery}}</span>
            {% endif %}
        </div>
        <div class="keywords-create-gallery">
            <label for="keywords">Mot clé</label><span class="erreurMotCleGallery"></span>
            <input type="text" id="keywords" name="keywords" placeholder="Saississez un mot clé" size="25">

            {% if errorGallery != "" %}
                    <span class="erreurMotCleGallery">{{errorGallery}}</span>
            {% endif %}
            {# <div class="keywords-list">
                <div class="one-keyword">
                    animal <a href="#"><img src="./img/croix.png" alt="croix"></a>
                </div>
                <div class="one-keyword">
                    chien <a href="#"><img src="./img/croix.png" alt="croix"></a>
                </div>
            </div> #}
        </div>
        <div class="radio-create-gallery">
            <input type="radio" id="radio-public" name="radio-accessibility" value="public" checked>
            <label for="public">Public</label>
            <input type="radio" id="radio-prive" name="radio-accessibility" value="prive">
            <label for="prive">Privé</label>
        </div>
        <div class="creer-gallery-btn">
            <input type="submit" id="submit-button" value="Créer">
        </div>
        {% if connecter == true  %}
            <p>{{pseudo}}</p>
        {% endif %}
    </div>

   
{% endblock %}