{% extends "base.html.twig" %}

{% block title %}MediaPhoto{% endblock %}

{% block body %}
    <div class="search-bar">
    </div>
    <div class="gallery-container"> 
        <div class="img-gallery-grid">
            <img class="img-id" src="/img/meetup.png">
            <p class="description-img">img</p>
        </div>
        <div class="img-gallery-grid">
            <img class="img-id" src="/img/meetup.png">
            <p class="description-img">img</p>
        </div>
        <div class="img-gallery-grid">
            <img class="img-id" src="/img/meetup.png">
            <p class="description-img">img</p>
        </div>
        <div class="img-gallery-grid">
            <img class="img-id" src="/img/meetup.png">
            <p class="description-img">img</p>
        </div>
        <div class="img-gallery-grid">
            <img class="img-id" src="/img/meetup.png">
            <p class="description-img">img</p>
        </div>
        <div class="img-gallery-grid">
            <img class="img-id" src="/img/meetup.png">
            <p class="description-img">img</p>
        </div>
        <div class="img-gallery-grid">
            <img class="img-id" src="/img/meetup.png">
            <p class="description-img">img</p>
        </div>
        <div class="img-gallery-grid">
            <img class="img-id" src="/img/meetup.png">
            <p class="description-img">img</p>
        </div>
    </div>

    {% for image in images %}
        {# <img src="data:image/png;base64,{{image.getImg_blob()}}" alt=""> #}
        <p></p>
    {% endfor %}
{% endblock %}