{% extends "base.html.twig" %}

{% block title %}MediaPhoto - A Propos{% endblock %}

{% block body %}

<div class="container-pro">

<div class="github">
    <h1>Lien Github</h1>
    <a href="https://github.com/Alban-Ktz/MediaPhoto">
    <img src="/img/github.png" alt="github">
    </a>
</div>

<div class="donnee">
    <div class="modele-donne">
        <img src="/img/diagramme1.png" alt="">
    </div>
    <div class="diagramme-utilisation">
        <img src="/img/diagramme2.png" alt="">
    </div>
    <div class="scenario">
        <img src="/img/diagramme3.png" alt="">
    </div>
    <div class="maquette">
    <h1>Lien Figma</h1>
        <a href="https://www.figma.com/file/tELQGapprZOh2PAe7NVKe6/MediaPhoto?node-id=6%3A51">
            <img src="/img/figma.png" alt="">
        </a>
    </div>
</div>

</div>

{% endblock %}