{% extends "base.html.twig" %}

{% block title %}MediaPhoto - uploadImages{% endblock %}

{% block body %}
    <div class="container-create-image">
        <h1>Ajouter une image</h1>
        <form action="/uploadImage/post/{{idGallery}}" method="POST" enctype="multipart/form-data">
            <div class="titre-create-image">
                <label for="titre">Titre</label>
                <input type="text" id="titre" name="titre" placeholder="Saississez un titre" size="25" required>
            </div>
            <div class="desc-create-image">
                <label for="desc">Description</label>
                <textarea id="desc" name="desc" placeholder="Saississez une description" rows="5" cols="33" required> </textarea>
            </div>
            <div class="keywords-create-image">
                <label for="keywords">Mot clé</label>
                <input type="text" id="keywords" name="keywords" placeholder="Saississez un mot clé" size="25" required>
            </div>
            <div class="upload-create-image">
                <label for="upload">Votre image</label>
                <input type="file" name="myfile" required/>
            </div>
            <div class="creer-gallery-btn">
                <input type="submit" value="Publier" class="btn">
            </div>
        </form>
    </div>
{% endblock %}