{% extends "base.html.twig" %}

{% block title %}MediaPhoto - uploadImages{% endblock %}

{% block body %}
    <div class="container-create-image">
        <h1>Ajouter une image</h1>
        <form action="/uploadImage/post" method="POST" enctype="multipart/form-data">
            <div class="gallery-create-image">
                <label for="galerie-select">Choisir une galerie</label>
                <select name="galerie" id="galerie-select">
                    <option value="">--Veuillez choisir une galerie--</option>
                    {% for gallery in galleries %}
                        <option value="{{gallery.id}}">{{gallery.id}} - {{gallery.titre}}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="titre-create-image">
                <label for="titre">Titre</label>
                <input type="text" id="titre" name="titre" placeholder="Saississez un titre" size="25">
            </div>
            <div class="desc-create-image">
                <label for="desc">Description</label>
                <textarea id="desc" name="desc" placeholder="Saississez une description" rows="5" cols="33"> </textarea>
            </div>
            <div class="keywords-create-image">
                <label for="keywords">Mot clé</label>
                <input type="text" id="keywords" name="keywords" placeholder="Saississez un mot clé" size="25">
                {# <div class="keywords-list">
                    <div class="one-keyword">
                        animal <a href="#"><img src="./img/croix.png" alt="croix"></a>
                    </div>
                    <div class="one-keyword">
                        chien <a href="#"><img src="./img/croix.png" alt="croix"></a>
                    </div>
                </div> #}
            </div>
            <div class="upload-create-image">
                <label for="upload">Votre image</label>
                {# <input type="text" id="upload" name="upload" placeholder="" size="25"> #}
                <input type="file" name="myfile"/>
            </div>
            <div class="creer-gallery-btn">
                <input type="submit" value="Publier" class="btn">
            </div>
        </form>
    </div>
{% endblock %}